---
name: Account Information
description: step one of the signup form (account).
---

<form role="form">
  {{> forms/offer-select }}

  <div class="form-group arrange arrange-equal arrange-gutter">
    <div class="form-group form-group-required arrange-fit">
      <label class="control-label" for="signupFirstName">First name</label>
      <input type="text" class="form-control" id="signupFirstName" />
    </div>
    <div class="form-group form-group-required arrange-fit">
      <label class="control-label" for="signupLastName">Last name</label>
      <input type="text" class="form-control" id="signupLastName" />
    </div>
  </div>
  <div class="form-group form-group-required">
    <label class="control-label" for="signupEmail">Email address</label>
    <input type="email" class="form-control" id="signupEmail" />
  </div>
  <div class="form-group">
    <div class="checkbox">
      <label for="signupOptIn">
        <input type="checkbox" checked="checked" id="signupOptIn" /> Yes! Sign me up for News and Promotions, so I can start earning <a href="#">Membership Rewards</a> towards my readings
      </label>
    </div>
  </div>
  <div class="form-group form-group-required">
    <label class="control-label" for="signupPassword">Choose a password</label>
    <input class="form-control" data-password id="signupPassword" type="password" placeholder="Password" />
    <p class="help-block">Password must be at least one letter and one digit, minimum 6 characters.</p>
  </div>
  <div class="form-group form-group-required">
    <label>Gender</label>
    <div class="form-group arrange arrange-gutter">
      <div class="radio arrange-fit">
        <label>
          <input type="radio" name="signupGender" value="female" checked="checked" /> Female
        </label>
      </div>
      <div class="radio arrange-fill">
        <label>
          <input type="radio" name="signupGender"  value="male" /> Male
        </label>
      </div>
    </div>

  </div>
  <div class="form-group form-group-required">
    <label class="control-label" for="signupDOB">Date of birth</label>
    <div class="dateinput js-dateinput">
      <input class="form-control js-dateinput-replacement shidden" id="signupDOB" type="date" />
      <div class="arrange arrange-gutter arrange-equal js-dateinput-default">
        <div class="arrange-fit">
          <select class="form-control js-dateinput-month">
            <option selected disabled>Month</option>
            {{#each dates.months}}
              <option value="{{.}}">{{.}}</option>
            {{/each}}
          </select>
        </div>
        <div class="arrange-fit">
          <select class="form-control js-dateinput-day">
            <option selected disabled>Day</option>
            {{#each dates.days}}
              <option value="{{.}}">{{.}}</option>
            {{/each}}
          </select>
        </div>
        <div class="arrange-fit">
          <select class="form-control js-dateinput-year">
            <option selected disabled>Year</option>
            {{#each dates.years}}
              <option value="{{.}}">{{.}}</option>
            {{/each}}
          </select>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <button class="btn btn-primary">Next step <span class="arrow-right"></span></button>
  </div>
</form>

<script>
  $(function () {
    $('.js-dateinput').each(function () {
      var $this = $(this);
      var $defaultField = $this.find('.js-dateinput-default');
      var $replacementField = $this.find('.js-dateinput-replacement');
      var $dayField = $this.find('.js-dateinput-day');
      var $monthField = $this.find('.js-dateinput-month');
      var $yearField = $this.find('.js-dateinput-year');
      var useReplacement = Modernizr.inputtypes.date;

      // Hide or show fallback input(s) based on feature-detection
      $defaultField.toggleClass('hidden', useReplacement);
      $replacementField.toggleClass('hidden', !useReplacement);

      // If the replacement input was never shown, we're done
      if ($replacementField.hasClass('hidden')) return;
      
      // Bind event handler to sync date-picker input with fallback inputs
      $replacementField.on('change', function (event) {
        var $this = $(event.target);
        var dateChunks = $this.val().split('-');

        $dayField.val(dateChunks[2]);
        $monthField.val(dateChunks[1]);
        $yearField.val(dateChunks[0]);
      });
    });
  });
</script>
