<div class="advisor-tile js-advisor-tile">
  <a class="link-block advisor-tile-main advisor-tile-group" href="#">
    <div class="advisor-tile-main-object">
      <div class="advisor-tile-photo with-stamp">
        <img
          class="img-rounded img-shadow"
          src="{{photo}}"
          alt=" ">
        {{#if staffPick}}
          <div class="stamp-staffpick">
            Psychic Source is pleased to highlight this gifted Advisor
          </div>
        {{/if}}
        {{#if showcase}}
          <div class="stamp-showcase">
            Recommendations from the Psychic Source team
          </div>
        {{/if}}
      </div>
    </div>
    <div class="advisor-tile-main-body">
      <h4 class="advisor-tile-heading">{{firstName}} x{{ext}}</h4>
      <div class="advisor-tile-meta">
        <p class="advisor-tile-meta-group stars stars-{{replace rating "." "-"}}">
          <span class="sr-only">{{{formatFraction rating}}} stars</span>
        </p>
        <p class="advisor-tile-meta-group text-nowrap">
          {{#if promoPrice}}
            <del class="text-muted">${{formatCurrency basePrice}}</del>
            <b>${{formatCurrency promoPrice}}/min</b>
          {{else}}
            <b>${{formatCurrency basePrice}}/min</b>
          {{/if}}
        </p>
        {{#if channel}}
          <p class="advisor-tile-meta-group text-nowrap">
            {{channel}} <del class="text-muted">${{formatCurrency basePrice}}</del> ${{formatCurrency channelPrice}}/min
          </p>
        {{/if}}
      </div>
      {{#if online}}
        {{#if available}}
          <p class="text-success"><b>Available</b> till {{loggedInTill}}</p>
        {{else}}
          <p class="text-danger"><b>Busy</b> logged on till {{loggedInTill}}</p>
        {{/if}}
      {{else}}
        <p class="text-muted"><b>Offline</b></p>
      {{/if}}
    </div>
  </a>
  <ul class="arrange arrange-50 arrange-gutter advisor-tile-group js-advisor-tile-actions">
    {{#if available}}
      {{#if chat}}
        <li class="arrange-fill">
          <a class="btn btn-block btn-sm btn-success btn-shaded" href="#">Chat Now</a>
        </li>
      {{/if}}
      {{#if call}}
        <li class="arrange-fill">
          <a class="btn btn-block btn-sm btn-success btn-shaded" href="#">Call Now</a>
        </li>
      {{else}}
        {{#if returnCall}}
          <li class="arrange-fill">
            <a class="btn btn-block btn-sm btn-default btn-shaded" href="#">Get Return Call</a>
          </li>
        {{/if}}
      {{/if}}
    {{else}}
      {{#if returnCall}}
        <li class="arrange-fill">
          <a class="btn btn-block btn-sm btn-default btn-shaded" href="#">Get a Return Call</a>
        </li>
      {{else}}
        <li class="arrange-fill">
          <a class="btn btn-block btn-sm btn-default btn-shaded" href="#">View Schedule</a>
        </li>
      {{/if}}
    {{/if}}
  </ul>
</div>
