<a href="#">
  <div class="home-advisor-image">
    <img
      class="img-rounded img-shadow"
      src="{{photo}}"
      alt=" ">
  </div>
  <h4 class="text-normal u-no-margin-bottom">{{firstName}} x{{ext}}</h4>
  <p class="stars home-advisor-stars stars-{{replace rating "." "-"}}">
      <span class="sr-only">{{{formatFraction rating}}} stars</span>
  </p>
  <p class="u-no-margin">
    {{#if promoPrice}}
      <del class="text-muted">${{formatCurrency basePrice}}</del>
      <b>${{formatCurrency promoPrice}}/min</b>
    {{else}}
      <b>${{formatCurrency basePrice}}/min</b>
    {{/if}}
  </p>
</a>

