  <div class="bio-availability">
    {{#if isAvailable}}
      <h4 class="text-success">Available until 8:27pm 
        {{#if phoneQueue}}
          ({{phoneQueue}} in line)
        {{/if}}
      </h4>
      {{#if phoneQueuePosition}}
        <div class="box box-lighter box-sm box-success">Your position in line: <strong class="text-success">{{phoneQueuePosition}}</strong></div>
      {{/if}}
      <ul class="bio-actions">
        {{#if chatIsAvailable}}
          <li class="bio-action">
            <a class="btn btn-block  btn-success btn-shaded" href="#">Chat Now</a>
            <span class="bio-price"><del>$8.75</del> $1.00/min</span>
          </li>
        {{/if}}
        {{#if phoneIsAvailable}}
          <li class="bio-action">
            <a class="btn btn-block  btn-success btn-shaded" href="#">Call Now</a>
            <span class="bio-price"><del>$8.75</del> $1.00/min</span>
          </li>
        {{/if}}
        {{#if returnIsAvailable}}
          {{#unlessAnd phoneIsAvailable phoneQueuePosition}}
            <li class="bio-action">
              <a class="btn btn-block btn-default btn-shaded" href="#">Get a Return Call</a>
              <span class="bio-price"><del>$8.75</del> $1.00/min</span>
            </li>
          {{/unlessAnd}}
        {{/if}}
      </ul>
      <p class="text-muted u-no-margin">Pricing valid for first purchase only.</p> 
    {{else}}
      {{#if isInReading}}
        <h4 class="text-danger">I'm in a reading - logged on till 9:00pm 
          {{#if phoneQueue}}
            ({{phoneQueue}} in line)
          {{/if}}
        </h4>
      {{else}}
        <h4 class="text-muted">I'm away 
          {{#if phoneQueue}}
            ({{phoneQueue}} in line)
          {{/if}}
        </h4>
      {{/if}}
      {{#if phoneQueuePosition}}
        <div class="box box-lighter box-sm box-success">Your position in line: <strong class="text-success">{{phoneQueuePosition}}</strong></div>
      {{else}}
        {{#if returnIsAvailable}}
          <ul class="bio-actions">
            <li class="bio-action">
              <a class="btn btn-block btn-default btn-shaded" href="#">Get a Return Call</a>
              <span class="bio-price"><del>$8.75</del> $1.00/min</span>
            </li>
          </ul>
          <p class="text-muted u-no-margin">Pricing valid for first purchase only.</p> 
        {{/if}}
      {{/if}}
    {{/if}}
  </div>
