<div class="advisor-tile advisor-tile-simple">
  <a class="link-block advisor-tile-main advisor-tile-main-simple advisor-tile-group" href="#">
    <div class="advisor-tile-main-object">
      <div class="advisor-tile-photo">
        <img
          class="img-rounded img-shadow"
          src="{{photo}}"
          alt=" ">
      </div>
    </div>
    <div class="advisor-tile-main-body advisor-tile-main-body-simple">
      <h4>{{firstName}} x{{ext}}</h4>
     
      {{#if online}}
        {{#if available}}
          <p class="text-success"><b>Available</b> till {{loggedInTill}}</p>
        {{else}}
          <p class="text-danger"><b>Busy</b> logged on till {{loggedInTill}}</p>
        {{/if}}
      {{else}}
        <p class="text-muted"><b>Offline</b></p>
      {{/if}}
    </div>
  </a>
</div>
