  <div class="bio-availability  text-center-xs text-center-sm text-center-md text-left-lg">
    {{#if isAvailable}}
      <h4 class="text-success">Available until 8:27pm 
        {{#if phoneQueue}}
          ({{phoneQueue}} in line)
        {{/if}}
      </h4>
      {{#if phoneQueuePosition}}
        <div class="box box-lighter box-sm box-success">Your position in line: <strong class="text-success">{{phoneQueuePosition}}</strong></div>
      {{/if}}
      <ul class="bio-actions">
        {{#if chatIsAvailable}}
          <li class="bio-action">
            <a class="btn btn-block  btn-success btn-shaded" href="#">Chat Now</a>
            <span class="bio-price"><del>$8.75</del> $1.00/min</span>
          </li>
        {{/if}}
        {{#if phoneIsAvailable}}
          <li class="bio-action">
            <a class="btn btn-block  btn-success btn-shaded" href="#">Call Now</a>
            <span class="bio-price"><del>$8.75</del> $1.00/min</span>
          </li>
        {{/if}}
        {{#if returnIsAvailable}}
          {{#unlessAnd phoneIsAvailable phoneQueuePosition}}
            <li class="bio-action">
              <a class="btn btn-block btn-default btn-shaded" href="#">Get a Return Call</a>
              <span class="bio-price"><del>$8.75</del> $1.00/min</span>
            </li>
          {{/unlessAnd}}
        {{/if}}
      </ul>
    {{else}}
      {{#if isInReading}}
        <h4 class="text-danger"><span class="text-nowrap">I'm in a reading</span> - <span class="text-nowrap">logged on till 9:00pm</span> 
          {{#if phoneQueue}}
            <span class="text-nowrap">({{phoneQueue}} in line)</span>
          {{/if}}
        </h4>
      {{else}}
        <h4 class="text-muted">I'm away 
          {{#if phoneQueue}}
            <span class="text-nowrap">({{phoneQueue}} in line)</span>
          {{/if}}
        </h4>
      {{/if}}
      {{#if phoneQueuePosition}}
        <div class="box box-lighter box-sm box-success">Your position in line: <strong class="text-success">{{phoneQueuePosition}}</strong></div>
      {{/if}}
      <ul class="bio-actions">
         <li class="bio-action">
          {{#if returnIsAvailable}}
            <a class="btn btn-block btn-default btn-shaded" href="#">Get a Return Call</a>
            <span class="bio-price"><del>$8.75</del> $1.00/min</span>
          {{else}}
            {{#if chatIsAvailable}}
              <span class="bio-price bio-unavailable">Chat: <del>$8.75</del> $1.00/min</span>
            {{/if}}
            {{#if phoneIsAvailable}}
              <span class="bio-price bio-unavailable">Phone: <del>$8.75</del> $1.00/min</span>
            {{/if}}
          {{/if}}
        </li>
      </ul>
    {{/if}}
   <p class="text-muted u-no-margin">Pricing valid for first purchase only.</p> 
  </div>
