<a href="#">
  <div class="home-advisor-image">
    <img
      class="img-rounded img-shadow"
      src="{{photo}}"
      alt=" ">
  </div>
  <div class="home-advisor-main-body">
    <h4 class="text-normal">{{firstName}} x{{ext}}</h4>
    <div class="advisor-tile-meta">
      <p class="advisor-tile-meta-group stars home-advisor-stars stars-{{replace rating "." "-"}}">
        <span class="sr-only">{{{formatFraction rating}}} stars</span>
      </p>
      <p class="advisor-tile-meta-group">
        {{#if promoPrice}}
          <del class="text-muted">${{formatCurrency basePrice}}</del>
          <b>${{formatCurrency promoPrice}}/min</b>
        {{else}}
          <b>${{formatCurrency basePrice}}/min</b>
        {{/if}}
      </p>
    </div>
  </div>
</a>

