<div class="review" id="review{{reviewID}}">
  <p class="review-meta">
    {{#if featured}}
      <strong class="u-block">This is a Featured Review!</strong>
    {{/if}}
    <span class="review-date">{{date}}</span>
    <span class="hidden-xs"> with </span>
    <span class="reviewed"><a href="/pages/advisor-bio/01-advisor-bio.html">{{reviewed}} x{{ext}}</a></span>
    <span class="review-stars stars stars-{{replace rating "." "-"}}"><span class="sr-only">{{{formatFraction rating}}} stars</span></span>
    <span class="review-type">
      {{#if call}}
        Phone Reading
      {{/if}}
      {{#if chat}}
        Chat Reading
      {{/if}}
    </span>
  </p>
  <p class="review-content">
    {{review}}
  </p>
  {{#if note}}
    <h3 class="border-top">Your Reading Notes</h3>
    <p>
      {{note}}
    </p>
  {{/if}}
  <div class="toggle-box">
    <h3 class="toggle-box-heading">
      <a href="#add-note-block-{{reviewID}}" data-toggle="collapse" class="toggle-box-parent collapsed arrow-down-after arrow-toggle">
        {{#if note}}
          Edit Your Reading note
        {{else}}
           Add a Reading Note
         {{/if}} 
      </a>
    </h3>
    <div class="toggle-box-body collapse" id="add-note-block-{{reviewID}}">
      <p>Your reading notes will be saved in your Review History for up to 90 days. You can edit them at anytime.</p>
      <div class="form-group u-margin-bottom">
        <textarea class="form-control" rows="5" name="reading-note">{{#if note}}{{note}}{{/if}}</textarea>
      </div>
      <p><button class="btn btn-primary">{{#if note}}Edit{{else}}Add{{/if}}  Note</button></p>
    </div>
  </div>
</div>

