<div class="review">
  <p class="review-meta">
    <span class="review-date">{{date}}</span>
    <span class="hidden-xs hidden-lg"> with </span>
    <span class="reviewer">{{reviewer}}</span>
    <span class="review-stars stars stars-{{replace rating "." "-"}}">{{{formatFraction rating}}} stars</span>
    <span class="review-type">
      {{#if call}}
        Phone Reading
      {{/if}}
      {{#if chat}}
        Chat Reading
      {{/if}}
    </span>
  </p>
  <p class="review-content">
    {{review}}&hellip;<a href="#">Full Review</a>
  </p>
</div>
