<div class="review">
  <p class="review-meta">
    <span class="review-date">{{date}}</span>
    <span class="hidden-xs bio-hidden-lg"> with </span>
    <span class="reviewer">{{reviewer}}</span>
    <span class="review-stars stars stars-{{replace rating "." "-"}}"><span class="sr-only">{{{formatFraction rating}}} stars</span></span>
    <span class="review-type">
      {{#if call}}
        Phone Reading
      {{/if}}
      {{#if chat}}
        Chat Reading
      {{/if}}
    </span>
  </p>
  <p class="review-content">
    <span data-truncate="160">{{review}}</span><a class="hidden" data-truncate-more href="/pages/advisor-bio/02-advisor-reviews.html#review{{reviewID}}">Full Review</a>
  </p>
</div>
