<div class="review" id="review{{reviewID}}">
  <p class="review-meta">
    <span class="review-date">{{date}}</span>
    <span class="hidden-xs"> with </span>
    <span class="reviewer">{{reviewer}}</span>
    <span class="review-stars stars stars-{{replace rating "." "-"}}"><span class="sr-only">{{{formatFraction rating}}} stars</span></span>
    <span class="review-type">
      {{#if call}}
        Phone Reading
      {{/if}}
      {{#if chat}}
        Chat Reading
      {{/if}}
    </span>
  </p>
  <p class="review-content">
    {{review}}
  </p>
  <p class="bio-review-helpful"><small>Was this review helpful?  <a href="#">YES</a></small></p>
</div>
